<% content_for :head do %>
  <%= stylesheet_link_tag 'bootstrap-daterangepicker/bootstrap-daterangepicker.css', media: 'all' %>
  <%= stylesheet_link_tag 'datatables/datatables.css', media: 'all' %>
<% end %>

<% content_for :scripts do %>
  <!-- Dependencies -->
  <%= javascript_include_tag 'moment/moment.js' %>
  <%= javascript_include_tag 'bootstrap-daterangepicker/bootstrap-daterangepicker.js' %>
  <%= javascript_include_tag 'datatables/datatables.js' %>
  <%= javascript_include_tag 'tables_datatables.js' %>
  <%= javascript_include_tag 'pages_tickets_list.js' %>
<% end %>

<h4 class="d-flex justify-content-between align-items-center w-100 font-weight-bold py-3 mb-4">
  <div class="card-body demo-vertical-spacing">
    <ol class="breadcrumb">
      <li class="breadcrumbs"><%= render_breadcrumbs %> </li>

    </ol>
  </div>


  <%= link_to new_project_path, method: :get do %>
  <button type="button" class="btn btn-primary btn-round d-block"><span class="ion ion-md-add"></span>&nbsp; Create project</button>
  <% end %>
</h4>

<!-- Filters -->
<%= form_with(model: @project, local: true, :validate => true) do |f| %>
<div class="ui-bordered px-4 pt-4 mb-4">
  <div class="form-row">
    <div class="col-md mb-4">
      <label class="form-label">Type</label>
      <%= f.select :projtype, Project.projtypes.keys, {:include_blank=> 'All Project Types'}, class: 'custom-select' %>
    </div>
    <div class="col-md mb-4">
      <label class="form-label">Status</label>
      <%= f.select :status_id,options_from_collection_for_select(ProjStatus.all, 'status_id', 'statusdescr'), {:include_blank=> true},  :class=>'custom-select'  %>

    </div>
    <div class="col-md mb-4">
      <label class="form-label">Created date</label>
      <input type="text" id="tickets-list-created" class="form-control">
    </div>
    <div class="col-md col-xl-2 mb-4">
      <label class="form-label d-none d-md-block">&nbsp;</label>
      <button type="button" class="btn btn-secondary btn-block">Show</button>
    </div>
  </div>
</div>
<% end %>
<!-- / Filters -->

<div class="card">
  <div class="card-datatable table-responsive">
    <table class="datatables-demo table table-striped table-bordered" data-turbolinks='false'>
      <thead>
        <tr>
          <th>Status</th>
          <th>Project Name</th>
          <th>Project Manager</th>
          <th>Created On</th>
          <th>Last update</th>
          <th>Completion</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @projects.each do |project| %>
        <tr>
          <td><span class="btn btn-<%= project.proj_status.statusnotify %> btn-xs md-btn-flat "><%= project.proj_status.statusdescr %></span></td>
          <td><%= project.projname %></td>
          <td><%= project.projmanager %></td>
          <td><%= project.created_at.to_time.strftime('%B %e at %l:%M %p') %></td>
          <td><%= project.updated_at.to_time.strftime('%B %e at %l:%M %p') %></td>
          <td><div class="progress" style="height: 4px;">
            <div class="progress-bar" style="width: <%= project.proj_status.percent %>%"></div>
          </div></td>
          <td>



          <%= link_to project_path(project), class: 'btn btn-outline-secondary btn-sm' do %>
            <span class="ion ion-md-albums"></span> View
          <% end %>
          <% if current_user.try(:admin?) %>


            <%= link_to edit_project_path(project) , { :class=>"btn btn-outline-secondary btn-sm" } do %>
            <span class="ion ion-md-create"></span> Edit
              <% end %>
              <% end %>
              </td>

        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
