<% content_for :head do %>
  <%= stylesheet_link_tag 'bootstrap-daterangepicker/bootstrap-daterangepicker.css', media: 'all' %>
  <%= stylesheet_link_tag 'datatables/datatables.css', media: 'all' %>
<% end %>

<% content_for :scripts do %>
  <!-- Dependencies -->
  <%= javascript_include_tag 'moment/moment.js' %>
  <%= javascript_include_tag 'bootstrap-daterangepicker/bootstrap-daterangepicker.js' %>
  <%= javascript_include_tag 'datatables/datatables.js' %>



<% end %>

<h4 class="py-3 mb-4">
  <ol class="breadcrumb font-weight-bold m-0">
    <li class="breadcrumb-item">  <%= link_to 'Projects', projects_path %></li>
    <li class="breadcrumb-item active"><%= @project.cpdcprojnum %> - <%= @project.projname %> </small></li>
  </ol>
</h4>

<!-- Header -->
<div class="border-right-0 border-left-0 ui-bordered container-m--x mb-4">
  <div class="row no-gutters row-bordered row-border-light">
    <div class="col-md-9">
      <div class="media-body container-p-x py-4">
        <div class="d-flex justify-content-between align-items-center mb-1">
          <div><strong class="text-primary text-large"><%= @project.proj_status.percent %>%</strong> completed</div>

            <% if current_user.try(:admin?) %>
            <div>
              <%= link_to edit_project_path(@project) , { :class=>"btn btn-outline-secondary btn-sm" } do %>
              <span class="ion ion-md-create"></span> Edit Project

                <% end %>
                <%= link_to 'Projects List', projects_path , { :class=>"btn btn-outline-secondary btn-sm" } %>

                </div>
                <% else %>
                <div>
                  <%= link_to 'Projects List', projects_path , { :class=>"btn btn-outline-secondary btn-sm" } %>
                </div>

                <% end %>


        </div>

        <div class="progress" style="height: 4px;">
          <div class="progress-bar" style="width: <%= @project.proj_status.percent %>%;"></div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="container-p-x py-4">
        <div class="text-muted small">Status</div>
        <strong class="text-success text-big"><%= @project.proj_status.statusdescr %></strong>
      </div>
    </div>
  </div>
</div>
<!-- / Header -->

<div class="row">
  <div class="col">

    <!-- Description -->
    <div class="card mb-4">
      <h6 class="card-header">Description</h6>
      <div class="card-body">
      <p><%= @project.description %>
      </P>

      </div>
    </div>
    <!-- / Description -->

    <!-- Attached files -->
    <div class="card mb-4">
      <h6 class="card-header">Attached files</h6>
      <div class="card-body p-3">
        <div class="row no-gutters">
          <div class="col-md-12 col-lg-12 col-xl-12 p-1">

            <ul class="list-group list-group-flush">

            <% @project.uploads.each do |upload| %>
              <li class="list-group-item">
                <div class="media align-items-center">
                  <div class="media-body px-2">
                    <%= link_to upload.filename, rails_blob_path(upload, disposition: :attachment) %> - &nbsp;&nbsp;
                    <%= link_to 'Remove', url_for(controller: :projects, action: :delete_upload, id: @project.id, upload_id: upload.id), method: :delete,   data: { confirm: 'Are you sure?' } %>
                  </div>
                  <a href="javascript:void(0)" class="d-block text-light text-large font-weight-light">&times;</a>
                </div>
              </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- / Attached files -->

    <!-- Tabs -->
    <div class="nav-tabs-top mb-4">
      <ul class="nav nav-tabs">

        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#project-discussion">Discussion</a>
        </li>

      </ul>
      <div class="tab-content">

        <!-- Discussion -->
        <div class="tab-pane fade show active" id="project-discussion">
          <%= render 'comments/form' %>

          <div id="commentdiv">
          <%= render @comments %>
          </div>


        </div>
        <!-- / Discussion -->


      </div>
    </div>
    <!-- / Tabs -->

  </div>
  <div class="col-md-4 col-xl-3">

    <!-- Project details -->
    <div class="card mb-4">
      <h6 class="card-header">Project details</h6>
      <ul class="list-group list-group-flush">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <div class="text-muted">Customer Name</div>
          <div><%= @project.customername %></div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <div class="text-muted">Customer email</div>
          <div><%= link_to @project.customeremail, "mailto:#{@project.customeremail}" %></div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <div class="text-muted">Customer phone</div>
          <div><%= link_to @project.customerphone, "tel:#{@project.customerphone}" %></div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <div class="text-muted">Created by</div>
          <div><%= @project.user.username %></div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <div class="text-muted">Created at</div>
          <div><%= @project.created_at.strftime("%m/%d/%Y") %></div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <div class="text-muted">Last update</div>
          <div><%= @project.updated_at.strftime("%m/%d/%Y") %></div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <div class="text-muted">Installer</div>
          <div><%= @project.installer %></div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <div class="text-muted">Project Manager</div>
          <div><%= @project.projmanager %></div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <div class="text-muted">Building</div>
          <div><%= @project.building %></div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <div class="text-muted">Location</div>
          <div><%= @project.rooms %></div>
        </li>

      </ul>
    </div>


  </div>
</div>
