<p id="notice"><%= notice %></p>

<p>
  <strong>Installertype:</strong>
  <%= @admin_installer.installertype %>
</p>

<p>
  <strong>Description:</strong>
  <%= @admin_installer.description %>
</p>

<%= link_to 'Edit', edit_admin_installer_path(@admin_installer) %> |
<%= link_to 'Back', admin_installers_path %>
