<div id="layout-sidenav" class="<% if local_assigns[:horizontal] == true %>layout-sidenav-horizontal sidenav-horizontal container-p-x flex-grow-0<% else %>layout-sidenav sidenav-vertical<% end %> sidenav bg-sidenav-theme">
  <% if local_assigns[:horizontal] != true %>
  <!-- Brand demo (see assets/css/demo/demo.css) -->
  <div class="app-brand demo">
    <!-- <span class="app-brand-logo demo bg-primary">

    </span> -->
    <a href="/" class="app-brand-text demo sidenav-text font-weight-normal ml-2">VASTT</a>
    <a href="javascript:void(0)" class="layout-sidenav-toggle sidenav-link text-large ml-auto">
      <i class="ion ion-md-menu align-middle"></i>
    </a>
  </div>

  <div class="sidenav-divider mt-0"></div>
  <% end %>
  <!-- Inner -->
  <ul class="sidenav-inner<% if local_assigns[:horizontal] != true %> py-1<% end %>">

    <!-- Projects -->

    <li class="sidenav-item<%= current_page?('/projects') || request.fullpath.start_with?('/projects/') || current_page?(root_path) ? ' active' : '' %>">
      <%= link_to projects_path, class: "sidenav-link" do %><i class="sidenav-icon ion ion-ios-albums"></i><div>Projects</div><% end %>
    </li>
    <% if current_user.try(:admin?) %>
    <li class="sidenav-item<%= current_page?('/admin/installers') || request.fullpath.start_with?('/admin/installers/')  ? ' active' : '' %>">
      <a href="javascript:void(0)" class="sidenav-link sidenav-toggle"><i class="sidenav-icon ion ion-md-speedometer"></i><div>Admin</div></a>
      <ul class="sidenav-menu">
    <li class="sidenav-item<%= current_page?('/admin/installers') || request.fullpath.start_with?('/admin/installers/')  ? ' active' : '' %>">
      <%= link_to admin_installers_path, class: "sidenav-link" do %><i class="sidenav-icon ion ion-ios-albums"></i><div>Installers</div><% end %>
    </li>
      </ul>
    </li>
    <% end %>




  </ul>
</div>
<!-- / Layout sidenav -->
