<!DOCTYPE html>

<html lang="en" class="default-style">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="IE=edge,chrome=1">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name="turbolinks-cache-control" content="no-preview">

  <title><%= @title ? @title + " - " : "" %>Rails Starter</title>

  <!-- Main font -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900" rel="stylesheet">

  <!-- Icons. Uncomment required icon fonts -->
  <!-- <%= stylesheet_link_tag 'fontawesome.css', media: 'all', 'data-turbolinks-track': 'reload' %> -->
  <%= stylesheet_link_tag 'ionicons.css', media: 'all', 'data-turbolinks-track': 'reload' %>
  <!-- <%= stylesheet_link_tag 'linearicons.css', media: 'all', 'data-turbolinks-track': 'reload' %> -->
  <!-- <%= stylesheet_link_tag 'open-iconic.css', media: 'all', 'data-turbolinks-track': 'reload' %> -->
  <!-- <%= stylesheet_link_tag 'pe-icon-7-stroke.css', media: 'all', 'data-turbolinks-track': 'reload' %> -->



  <!-- Core stylesheets -->
  <%= stylesheet_link_tag 'bootstrap.css', media: 'all', class: 'theme-settings-bootstrap-css' %>
  <%= stylesheet_link_tag 'appwork.css', media: 'all', class: 'theme-settings-appwork-css' %>
  <%= stylesheet_link_tag 'theme-corporate.css', media: 'all', class: 'theme-settings-theme-css' %>
  <%= stylesheet_link_tag 'colors.css', media: 'all', class: 'theme-settings-colors-css' %>
  <%= stylesheet_link_tag 'uikit.css', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'bootstrap-sweetalert/bootstrap-sweetalert.css', media: 'all' %>
  <%= stylesheet_link_tag 'bootstrap-sweetalert/bootstrap-sweetalert.css' %>
  <!-- Layout helpers -->
  <%= javascript_include_tag 'layout-helpers.js', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'bootstrap-sweetalert/bootstrap-sweetalert.js' %>
  <!-- Theme settings -->
  <%= javascript_include_tag 'theme-settings.js', 'data-turbolinks-track': 'reload' %>
  <script>
    // Use settings panel generator to configure the plugin
    window.themeSettings = new ThemeSettings({
      cssPath: '',
      themesPath: '',
      pathResolver: function(path) {
        var resolvedPaths = {
          // Core stylesheets
        <%- ['bootstrap', 'appwork', 'colors'].each do |name| %>
          '<%= name %>.css': '<%= asset_path "#{name}.css" %>',
          '<%= name %>-material.css': '<%= asset_path "#{name}-material.css" %>',
        <% end %>

          // UI Kit
          'uikit.css': '<%= asset_path "uikit.css" %>',

          // Themes
        <%- ['air', 'corporate', 'cotton', 'gradient', 'paper', 'shadow', 'soft', 'sunrise', 'twitlight', 'vibrant'].each do |name| %>
          'theme-<%= name %>.css': '<%= asset_path "theme-#{name}.css" %>',
          'theme-<%= name %>-material.css': '<%= asset_path "theme-#{name}-material.css" %>',
        <% end %>
        };

        return resolvedPaths[path] || path;
      }
    });
  </script>

  <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <!-- Libs -->

  <!-- `perfect-scrollbar` library required by SideNav plugin -->
  <%= stylesheet_link_tag 'perfect-scrollbar/perfect-scrollbar.css', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'perfect-scrollbar/perfect-scrollbar.js', 'data-turbolinks-track': 'reload' %>

  <!-- Core scripts -->
  <%= javascript_include_tag 'popper/popper.js', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'bootstrap.js', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'sidenav.js', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'bootstrap-sweetalert/bootstrap-sweetalert.js' %>  
  <%= javascript_include_tag 'ui_modals.js', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag "application" %>


  <%= yield :head %>
</head>
<body>

  <%= content_for?(:content) ? yield(:content) : yield %>
  <%= yield :scripts %>
</body>
</html>
